
// header

#header {
  height: 108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #F3E8DE;
  border: 2px solid #ede1d7
}


.header-menu {
  display: flex;
  gap: 35px;
  padding-right: 140px;
}


.header-menu-item {
  text-transform: none;
  margin-left: 2%;
  white-space: nowrap;
  font-family:'Solway-Bold';
  font-size: 16px;
  color: #836A5B;

}

.header-menu-item:hover {
  color:#363636;
}

#search {
	max-width: 300px;
  padding-right: 30px;
  --border-radius: 10pt;
  --box-shadow: none;
  --icon-color: #836A5B;
  --clear-button-color: #836A5B;
  --color: #836A5B;

  font-family: 'Nunito-Bold';
}

#menu-buttons {
  margin-right: 20px;
}


// body

#body {
    display: flex;
    gap: 5%;
    padding: 40px;
}

#product-info {
  width: 80%;
}

#product-image {
    width: 120%;
    height: 120%;
    padding: 0 40px;
}

.product-title {
  font-family: 'Solway-Regular';
  font-size: 24px;
  padding: 5px 0;
  color: #363636;
}

.product-description {
  width: 82%;
  font-family: 'Nunito-Medium';
  font-size: 11pt;
}

.product-price {
  font-family: 'Solway-Medium';
  font-size: 22px;
  color: #836A5B;
  padding: 5px 0;
}

.product-info {
  font-family: 'Nunito-Medium';
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0;
}

.product-reservar {
  width: 60%;
  font-family: 'Nunito-Medium';
  font-size: 11pt;
  padding: 5px 0;
}

ion-button {
    margin: 10px 0;
}

// --- cesto ---

.cesto {
  position:fixed;
  top: 0px;
  right: 0px;
  background: #FFF7EF;
  z-index: 999;
  width: 40%;
  height: 100%;
  transition: 0.5s;
  display: none;
}

.left-side {
  position:fixed;
  right: 40%;
  background: #3636366e;
  z-index: 999;
  width:60%;
  height: 100%;
  transition: 0.5s;
  display: block;
}

#close-cesto {
  font-size: 30px;
  margin: 20px;
  color: #836A5B;
}

#cesto-inside {
  margin: 10px 80px;
  padding: 20px;
  height: 78%;
  background-color: #F3E8DE;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#more-button-cesto {
  --border-radius: 50%;
  height: 50px;
  width: 50px;
}

#pagamento-button {
  width: 160px;
  font-size: 18px;
}

.title-cesto {
  font-size: 18px;
  font-family: 'Solway-Bold';
}

.hr5 {
  display: block;
  width: 80%;
  border-radius: 5px;
  border-top: 4px solid #E7D9CC;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

.padding-sides {
  padding: 0 70px;
}



// footer

ion-footer{
  display: block;
  background-color: #F3E8DE;
  text-align: left;

  padding: 50px 0;
}

.footer-title {
  font-family: 'Solway-Medium';
  font-size: 20px;
  color: #363636;
  margin-bottom: 12%;

}

.footer-info {
  font-family: 'Nunito-Medium';
  font-size: 11pt;
  margin-bottom: 10%;
}

.align-logos {
  
  text-align: center;
  margin-left: -30%;
}
