
<ion-content>

    <!-- header -->

    <header id="header">

      <a href="home"><img src="./assets/img/logo2.png" alt="TugaKidsClothes" /></a>
  
      <h1 id="checkout-title">Reserva</h1>
  
      <div style="display: flex; align-items:center; justify-content: center; gap: 70px;">
        
        <p class="step-number" style="text-align: center; ">1</p>
  
        <h1 class="checkout-header">Dados de Reserva</h1>
    
        <div></div>
  
        <p class="step-number" style="text-align: center; ">2</p>
    
        <h1 class="checkout-header">Confirmação</h1>
    
        <div></div>
  
      </div>
    
    </header>

    <!-- body -->

    <div id="body">

      <div id="header-body">
        <h2 class="title">Endereço de Loja</h2>
        <ion-button>Cancelar Reserva</ion-button>
      </div>

      <p class="text">Loja A</p>
      <p class="text">Rua A</p>
      <p class="text">4900-001</p>
      <p class="text">Viana do Castelo</p>

      <h3 class="text"><u><strong>Horário</strong></u></h3>

      <h2 class="title">Data limite da Reserva:</h2>

      <div id="info-reserva">
        <p class="title" style="padding: 20px 0;"><u>10 de junho de 2022</u></p>

        <p class="text">
          A reserva tem um prazo limite de no <strong>máximo 2 semanas após confirmação, 
          passada essa data a reserva será anulada.</strong>
        </p>

        <p class="text">Podes aceder a mais informações sobre a reserva em:</p>

        <p class="text">A Minha Conta > <u>Reservas</u></p>

        <ion-button class="general-button" routerLink="/home" routerDirection="root">Página Principal</ion-button>

          
      </div>


      
    </div>

</ion-content>
