/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/** FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@font-face {
	font-family: 'Solway-Regular';
	src: url('/assets/fonts/Solway-Regular.ttf');
}

@font-face {
	font-family: 'Solway-Medium';
	src: url('/assets/fonts/Solway-Medium.ttf');
}

@font-face {
	font-family: 'Solway-Bold';
	src: url('/assets/fonts/Solway-Bold.ttf');
}

@font-face {
	font-family: 'Nunito-Regular';
	src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
	font-family: 'Nunito-Medium';
	src: url('/assets/fonts/Nunito-Medium.ttf');
}

@font-face {
	font-family: 'Nunito-SemiBold';
	src: url('/assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
	font-family: 'Nunito-Bold';
	src: url('/assets/fonts/Nunito-Bold.ttf');
}


a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

ion-button {
	--ripple-color: transparent;
	--background-hover-opacity: 0;
	--box-shadow: none;
	--border-radius: 5px;
	text-transform: none;
	--background: #B89D87;
	color: white;
	font-family: 'Nunito-SemiBold';
	
}

ion-icon {
    pointer-events: none;
}