<ion-content>

  <!-- Non sticky header -->

  <header id="header">

    <a href="home"><img src="./assets/img/logo2.png" alt="TugaKidsClothes" /></a>
    
    <nav class="header-menu">
      <a href="recem-nascido" class="header-menu-item">Recém-Nascido</a>
      <a href="bebe" class="header-menu-item">Bebé</a>
      <a href="crianca" class="header-menu-item">Criança</a>
      <a href="mae" class="header-menu-item">Mãe</a>
      <a href="cuidados"class="header-menu-item">Cuidados</a>
      <a href="brinquedos" class="header-menu-item">Brinquedos</a>
      <a href="casa" class="header-menu-item">Casa</a>
    </nav>
  
  
    
  <ion-buttons slot="end" id="menu-buttons">
    
    <ion-searchbar placeholder="Pesquisar" id="search"></ion-searchbar>
  
    <ion-button>
      <ion-icon slot="icon-only" name="heart" color="tertiary"></ion-icon>
    </ion-button> 
    <ion-button>
      <ion-icon slot="icon-only" name="person" color="tertiary"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="bag-outline" color="tertiary"></ion-icon>
    </ion-button>
  </ion-buttons>
  
  </header>

  <!-- capa -->

  <section>
    <div id="container">
      <img src="assets/img/capa2.png" />
      <h1 id="capa-title">Sobre Nós</h1>
      <p id="capa-subtitle">
        A TugaKidsClothes nasceu em Viana do Castelo e agora abre as suas portas ao mundo através deste website.
      </p>
  
      <p id="capa-subtitle2">Acreditamos que, de certa forma, somos todos pais e cuidadores: seja de crianças, 
        homens e mulheres que fazem parte da nossa vida, seja do mundo que nos rodeia. Assim, desenvolvemos produtos 
        de excelência feitos a partir de materiais naturais e orgânicos, respeitando a sustentabilidade e o planeta.</p> 
    </div>
  </section>


  <!-- body -->

  <section>
    <div style="display: flex;">
      <div style="padding-left: 10%; padding-top: 6%;">
        <h1 class="body-title">amor pela natureza</h1>
        <p class="body-text">Fomos inspirados a encontrar alternativas naturais e orgânicas para bebés, crianças e mães, pois 
          o mainstream de produtos que existem são na sua maioria sintéticos ou insustentáveis. 
        </p>  
        <p class="body-text">Temos atenção ao que selecionamos e à produção para que haja a certeza de que os clientes obtêm o melhor possível, 
          de forma natural. 
        </p>
        <p class="body-text">Acreditamos que, como consumidores e fazendo escolhas conscientes, podemos proporcionar um ambiente saudável e enriquecedor 
          para bebés e crianças através dos nossos produtos e, ao mesmo tempo, nutrir e preservar o mundo em que eles crescerão.
        </p>
      </div>
  
      <img src="assets/img/cotton.jpg" width="50%" style="padding: 4%;"/>
    </div>
  </section>


  <div style="text-align: center; padding-top: 2%; padding-bottom: 2%;">
    <img src="assets/img/bee.png" height="120px" /> 
  </div>
  
  <section>
    <div style="text-align: center;">
      <h1 class="body-title">fazer crescer bebés orgânicos</h1>
      <p class="body-text" style="width: 50%;">Fornecer essências orgânicas puras que nutrem a mãe, o bebé e a natureza. TugaKidsClothes 
        é uma empresa que começou com a procura por alternativas naturais para roupas de criança. Descobrimos que, 
        como nós, existiam pais que queriam que os seus filhos crescessem num mundo puro e bonito, livre de produtos químicos.
      </p>
  
    </div>
  </section>


  <section>
    <div style="display: flex; justify-content: center; align-content: center;">
      <div class="valores" >
  
        <div style="padding:8%;">
          <ion-title id="valores-title">os nossos valores</ion-title>
        </div>
        
        
        <div style="display: flex; padding-left:8%; padding-bottom: 5%;">
          <img src="assets/img/nature.png" height="100px" style="margin-top: 8%;"/>
          <div style="padding-left: 10%;">
            <p id="valores-subtitle">Pureza</p>
            <p id="valores-text">Orgânico, natural e livre de produtos químicos. As roupas 
              são feitas a partir de algodão orgânico e merino, sem uso de produtos químicos nocivos, 
              não deixando nada na pele do seu bebé, exceto pura bondade.</p>
          </div>
        </div>
  
        <div style="display: flex; padding-left:5%; padding-bottom: 5%;">
          <img src="assets/img/fabric.png" height="100px" style="margin-top: 8%;"/>
          <div style="padding-left: 13%;">
            <p id="valores-subtitle">Qualidade</p>
            <p id="valores-text">Feito a partir dos melhores materiais. Procuramos de cima a baixo por materiais, 
              tecidos e produtos para atender às necessidades da mudança do bebé, criança e mãe. Escolhendo apenas 
              o melhor para si e para o seu bebé.</p>
          </div>
        </div>
  
        <div style="display: flex; padding-left:8%; padding-bottom: 5%;">
          <img src="assets/img/planet.png" height="100px" style="margin-top: 6%;"/>
          <div style="padding-left: 10%;">
            <p id="valores-subtitle">Utilidade</p>
            <p id="valores-text">Produzimos apenas o essencial e necessário. Concentramo-nos em criar estilos clássicos 
              e práticos para o dia-a-dia.</p>
          </div>
        </div>
  
        <div style="display: flex; padding-left:8%; padding-bottom: 5%;">
          <img src="assets/img/love.png" height="100px" style="margin-top: 8%;"/>
          <div style="padding-left: 10%; padding-bottom: 5%;">
            <p id="valores-subtitle">Cuidado</p>
            <p id="valores-text">Suave na pele e no mundo. Todas as nossas roupas e produtos são produzidos de forma a 
              cuidar da terra e de seus trabalhadores.</p>
          </div>
        </div>
  
      </div>
  
      <img src="assets/img/blankets.jpg" style="width: 50%"/>
    
    </div>
  </section>
  




  <!-- footer -->
    
  <ion-footer class="footer">
    <ion-grid>
      <ion-row>
        <ion-col style="margin-left: 4%;">
          <h1 class="footer-title" >TugaKidsClothes</h1>
          <p><a href="sobre-nos">Sobre Nós</a></p>
          <p>Guias de Tamanhos</p>
          <p>Localizar Loja</p>
        </ion-col>

        <ion-col style="margin-right: -4%;">
          <h1 class="footer-title">Ajuda</h1>
          <p>Perguntas Frequentes</p>
          <p>Entregas</p>
          <p>Devoluções</p>
        </ion-col>

        <ion-col style="margin-left: 2%;">
          <h1 class="footer-title">Informações Legais</h1>
          <p>Termos e Condições</p>
          <p>Política de Privacidade</p>
        </ion-col>

        <ion-col style="margin-left: 2%;">
          <h1 class="footer-title">Apoio ao Cliente</h1>
          <p>(+351) 000 000 001</p>
          <p style="color: #676767;">De segunda a sexta, das 10:00h às 17:00h.</p>
          <p>clienteonline@tugakidsclothes.com</p>
        </ion-col>

        <ion-col style="margin-left: 2%;">
          <h1 class="footer-title">Métodos de Pagamento</h1>
       
          <ion-grid>
            <ion-row>
              <ion-col class="align-logos">
                <img src="assets/logos/mastercard.png" height="30px"/>
              </ion-col>
              <ion-col class="align-logos">
                <img src="assets/logos/visa.png" height="30px" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="align-logos">
                <img src="assets/logos/mbway.png" height="30px" />
              </ion-col>
              <ion-col class="align-logos">
                <img src="assets/logos/multibanco.png" height="30px" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="align-logos">
                <img src="assets/logos/paypal.png" height="30px" />
              </ion-col>
              <ion-col class="align-logos">
                <img src="assets/logos/gpay.png" height="30px" />
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-col>

    

      </ion-row>
    </ion-grid>

  </ion-footer>

</ion-content>
