
<ion-content>

<!-- Non sticky header -->

  <header id="header">

    <a href="home"><img src="./assets/img/logo2.png" alt="TugaKidsClothes" /></a>
    
    <nav class="header-menu">
      <a href="recem-nascido" class="header-menu-item">Recém-Nascido</a>
      <ion-list>
        <div class="space"> </div>
        <div class="list">
          <div>
            <div class="cat-container">
              <h1 class="cat-container2">Categorias</h1>
              <h1 class="cat-container3">0 - 6 Meses</h1>
            </div>
            <hr class="hr2">
          <div class="container">
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Conjuntos | Macacões</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Camisolas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Vestidos | Saias</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Calças | Calções | Leggings</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Casacos</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Sapatos</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Bodies | Babygrows</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Roupa Interior</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Roupa de Banho</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Acessórios</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Pijamas</a>
              </ion-item>
            </div>

          </div>
        </div>

          <div >
            <img src="assets/img/catRecemNascidos.png" class="image" />
          </div>
        </div>
      </ion-list>
      <a href="bebe" class="header-menu-item">Bebé</a>
      <ion-list>
        <div class="space"></div>
        <div class="list">
          <div>
            <div class="cat-container">
              <h1 class="cat-container2">Categorias</h1>
              <h1 class="cat-container3">6 - 24 Meses</h1>
            </div>
            <hr class="hr2">

          <div class="container">
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Conjuntos | Macacões</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Camisolas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Vestidos | Saias</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Calças | Calções | Leggings</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Casacos</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Sapatos</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Bodies | Babygrows</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Roupa Interior</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Roupa de Banho</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Acessórios</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Pijamas</a>
              </ion-item>
            </div>

          </div>
        </div>
          <div >
            <img src="assets/img/catbebe.png" class="image" />
          </div>
        </div>
      </ion-list>
      <a href="crianca" class="header-menu-item">Criança</a>
      <ion-list>
        <div class="space"></div>
        <div class="list">
          <div>
            <div class="cat-container">
              <h1 class="cat-container2">Categorias</h1>
              <h1 class="cat-container3">2 - 10 Anos</h1>
            </div>
            <hr class="hr2">
            <div class="container">
              <div class="div1" >
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Conjuntos | Macacões</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Camisolas</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Vestidos | Saias</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Calças | Calções | Leggings</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Casacos</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Sapatos</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
                </ion-item>
              </div>
              
              <div class="div1" >
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Sweaters | Hoodies</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Roupa Interior</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Roupa de Banho</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Acessórios</a>
                </ion-item>
                <ion-item lines="none">
                  <a href="recem-nascido" class="header-menu-item1">Pijamas</a>
                </ion-item>
              </div>
            </div>
          </div>
          <div >
            <img src="assets/img/catcrianca.png" class="image" />
          </div>
        </div>
      </ion-list>
      <a href="mae" class="header-menu-item">Mãe</a>
      <ion-list>
        <div class="space"></div>
        <div class="list">
          <div>
            <div class="cat-container">
              <h1 class="cat-container2">Categorias</h1>
            </div>
            <hr class="hr2">
          <div class="container">
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Gravidez</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Maternidade</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Pós-Parto</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Amamentação</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Cuidados de Pele</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Slings</a>
              </ion-item>
            </div>
          </div>
        </div>
          <div >
            <img src="assets/img/catmae.png" class="image" />
          </div>
        </div>
      </ion-list>
      <a href="cuidados"class="header-menu-item">Cuidados</a>
      <ion-list>
        <div class="space"></div>

          <div class="container">
            <div class="div1" >
              <h1 class="cat-container2">Banho</h1>
              <hr class="hr4">
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Banheiras para Bebés</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Toalhas | Mantas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Roupa Pós-Parto</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Brinquedos para Banho</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Acessórios para Banho</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Bancos | Potes</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            
            <div class="div1" >
              <h1 class="cat-container2">Cuidados de Saúde e Pele</h1>
              <hr class="hr4">
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Cuidados de Pele Naturais</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Acessórios de Cuidados</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Remédios para Dentição</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            <div class="div1" >
              <h1 class="cat-container2">Fraldas</h1>
              <hr class="hr4">
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Fraldas Reutilizáveis</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Acessórios para Fraldas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Packs de Fraldas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Lavandaria</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            <div class="div1" >
              <h1 class="cat-container2">Alimentação</h1>
              <hr class="hr4">
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Biberões | Tetinas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Chupetas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Comida | Formulas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Cadeiras Altas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Babetes</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Pratos | Talheres</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
          </div>
        
      </ion-list>
      <a href="brinquedos" class="header-menu-item">Brinquedos</a>
      <ion-list>
        <div class="space"></div>
        <div class="list">
          <div>
            <div class="cat-container">
              <h1 class="cat-container2">Categorias</h1>
            </div>
            <hr class="hr2">
          <div class="container">
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Brinquedos de Madeira</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Brinquedos de Silicone</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Brinquedos Educativos | Livros</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Bonecas</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Peluches | Doudous</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
              </ion-item>
            </div>
            
            <div class="div1" >
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Puzzles | Jogos</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Manualidades</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Música</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Ginásios | Tapetes de Atividades</a>
              </ion-item>
              <ion-item lines="none">
                <a href="recem-nascido" class="header-menu-item1">Praia</a>
              </ion-item>
            </div>
          </div>
        </div>
          <div >
            <img src="assets/img/catbrinquedos.png" class="image" />
          </div>
        </div>
      </ion-list>
      <a href="casa" class="header-menu-item">Casa</a>
      <ion-list>
        <div class="space"></div>
      
        <div class="container2" >
          <div class="div1" >
            <h1 class="cat-container2">Mobília Bebé</h1>
            <hr class="hr4">
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Berço</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Muda Fraldas</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Ninhos</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Espreguiçadeiras</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Colchões</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Arrumação</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
            </ion-item>
          </div>
          
          <div class="div1" >
            <h1 class="cat-container2">Decoração</h1>
            <hr class="hr4">
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Almofadas</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Candeeiros</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Caixas de Música</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Luzes de Presença</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
            </ion-item>
          </div>

          <div class="div1" >
            <h1 class="cat-container2">Acessórios Bebés</h1>
            <hr class="hr4">
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Intercomunicadores</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Sacos de Dormir</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Malas | Necessaire</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item1">Carrinhos de Bebé</a>
            </ion-item>
            <ion-item lines="none">
              <a href="recem-nascido" class="header-menu-item2">Ver Tudo</a>
            </ion-item>
          </div>
        </div>
      
    </ion-list>
    </nav>
  
  
    
  <ion-buttons slot="end" id="menu-buttons">
    
    <ion-searchbar placeholder="Pesquisar" id="search"></ion-searchbar>
  
    <ion-button>
      <ion-icon slot="icon-only" name="heart" color="tertiary"></ion-icon>
    </ion-button> 
    <ion-button>
      <ion-icon slot="icon-only" name="person" color="tertiary"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="bag-outline" color="tertiary"></ion-icon>
    </ion-button>
  </ion-buttons>
  
  </header>
  
  <div id="body">
    <div id="menu">
      <h1>Nome Apelido</h1>

      <div id="menu-box">
        <a href="dados-pessoais" class="menu-item">Dados Pessoais</a>
        <a href="enderecos" class="menu-item">Endereços</a>
        <a href="metodos-pagamento" class="menu-item">Métodos de Pagamento</a>
        <a href="lista-desejos" class="menu-item">Lista de Desejos</a>
        <a href="encomendas" class="menu-item">Encomendas</a>
        <a href="devolucoes" class="menu-item">Devoluções</a>
        <a class="menu-item">Cupões</a>
        <a class="menu-item-selected">Segurança da Conta</a>
        <a href="reservas" class="menu-item">Reservas</a>
      </div>

    </div>

    <div id="seguranca-conta">
      <h1>Segurança da Conta</h1>

      <div class="box">
        <div>
          <h2 class="seguranca-title">Verificação de Email</h2>
          <p class="seguranca-info">mariama@gmail.com</p>
        </div>

        <ion-button style="--background: #F3E8DE; color: #836A5B">Verificado</ion-button>
      </div>

      <hr>

      <div class="box">
        <h2 class="seguranca-title">Número de Telefone</h2>
        <ion-button>Verificar</ion-button>
      </div>

      <hr>

      <div class="box" style="padding-right: 20px;">
        <h2 class="seguranca-title">Alterar Password</h2>
        
        <ion-button style="--background: transparent">
          <ion-icon name="arrow-forward" style="font-size: 25px; color: #836A5B;"></ion-icon>
        </ion-button>
        
      </div>

      <hr>

      <div class="box" style="padding-right: 20px;">
        <h2 class="seguranca-title">Desativar Conta</h2>
        
        <ion-button style="--background: transparent">
          <ion-icon name="arrow-forward" style="font-size: 25px; color: #836A5B;"></ion-icon>
        </ion-button>
        
      </div>
      

    </div>
  </div>

   <!-- footer -->
    
   <ion-footer class="footer">
    <ion-grid>
      <ion-row>
        <ion-col style="margin-left: 4%;">
          <h1 class="footer-title" >TugaKidsClothes</h1>
          <p><a href="sobre-nos">Sobre Nós</a></p>
          <p>Guias de Tamanhos</p>
          <p>Localizar Loja</p>
        </ion-col>

        <ion-col style="margin-right: -4%;">
          <h1 class="footer-title">Ajuda</h1>
          <p>Perguntas Frequentes</p>
          <p>Entregas</p>
          <p>Devoluções</p>
        </ion-col>

        <ion-col style="margin-left: 2%;">
          <h1 class="footer-title">Informações Legais</h1>
          <p>Termos e Condições</p>
          <p>Política de Privacidade</p>
        </ion-col>

        <ion-col style="margin-left: 2%;">
          <h1 class="footer-title">Apoio ao Cliente</h1>
          <p>(+351) 000 000 001</p>
          <p style="color: #676767;">De segunda a sexta, das 10:00h às 17:00h.</p>
          <p>clienteonline@tugakidsclothes.com</p>
        </ion-col>

        <ion-col style="margin-left: 2%;">
          <h1 class="footer-title">Métodos de Pagamento</h1>
       
          <ion-grid>
            <ion-row>
              <ion-col class="align-logos">
                <img src="assets/logos/mastercard.png" height="30px"/>
              </ion-col>
              <ion-col class="align-logos">
                <img src="assets/logos/visa.png" height="30px" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="align-logos">
                <img src="assets/logos/mbway.png" height="30px" />
              </ion-col>
              <ion-col class="align-logos">
                <img src="assets/logos/multibanco.png" height="30px" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="align-logos">
                <img src="assets/logos/paypal.png" height="30px" />
              </ion-col>
              <ion-col class="align-logos">
                <img src="assets/logos/gpay.png" height="30px" />
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-col>

    

      </ion-row>
    </ion-grid>

  </ion-footer>

</ion-content>

